@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #CDCDCD;
  background-color: #1E1E1E;
  background-image: linear-gradient(to bottom, #1E1E1E 0%, #1E1E1E 1em, #323232 200px, #323232 100%);
}
p {
  display: inline;
  color: #CDCDCD;
  text-align: left;
}
div.post {
  border: 1px;
  border-style: solid;
  border-color: #515151;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
  background-color: #1E1E1E;
  text-align: left;
  margin-bottom: 20px;
}
div.op, div.reply {
  margin: 10px;
  text-align: left;
}
div.reply {
  margin-left: 20px;
  border: 1px;
  border-style: solid;
  border-color: #515151;
  width: 30%;
  padding: 5px;
  text-align: left;
}
div.reply p {
  width: auto;
  text-align: left;
  word-wrap: break-word;
}
div.op {
  border: 1px;
  border-style: hidden;
  border-color: #CDCDCD;
  width: 30%;
  padding: 5px;
  text-align: left;
}
div.op p {
  width: auto;
  text-align: left;
  word-wrap: break-word;
}
div.image img {
  height:150px;
  padding: 5px;
  margin: 0;
}
div.header {
  text-align: left;
}
p.info{
  font-size: 110%;
  color: #467546;
}
p.quote {
  color: #a2aa5d;
}
textarea, input, textarea:focus, input:focus {
  background: #323232;
  color: #CDCDCD;
  border: none;
  outline: 0;
  text-align: left;
  margin-bottom: 5px;
}
input {
  width: 100%;
}
a:link, a:visited, a:hover,a:active {
  text-decoration: none;
  color: white;
  text-align: left;
}
div.recent #latest_posts {
  text-align: center;
  border-bottom: 1px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #515151;
  color: #CDCDCD;
  margin: 0px;
}
div.recent {
  text-align: left;
  border: 1px;
  border-style: solid;
  border-color: #515151;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  margin-left: 20%;
  margin-right: 20%;
}
form {
  margin: 0;
}
div.line {
  width: 100%;
  border: 1px;
  border-style: solid;
  border-bottom: 0px;
  border-color: #515151;
}
